.stp-date-sort {
  grid-area: date-sort;
  margin-bottom: 64px;
  display: flex;
  justify-self: flex-end;
  font-size: 15px;
  font-weight: 700;
  color: $color-neutral-700;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;

  &__arrows {
    display: inline-flex;
    flex-direction: column;
    padding-left: 8px;
  }

  &__arrow {
    border: solid $color-neutral-300;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: $transiton-default;

    &--up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &--down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    &--active {
      border-color: $color-neutral-500;
    }
  }
}